@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#box-rating {
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    height: 80vh;
}

#header {
    background-color: rgba(240, 238, 234, 0.558);
    padding: 0.1px;
    text-align: center;
    border-bottom: 2px solid rgb(230, 6, 6);
}

#title {
    color:rgb(239, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#sub-title {
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
}

#title-box {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
    color: rgb(13, 13, 13);
}
.star {
    color: rgb(209, 197, 197);
    transition: color 0.22s;
}

.star:hover {
    color: rgb(208, 208, 195);
}

#rating {
    background-color: rgba(238, 233, 226, 0.297);
    border: 2px solid rgb(125, 121, 125);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.462);
    font-size: 50px;
    cursor: pointer;
    transition: color 0.50s;
    margin-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-left: 100px ;
    padding-bottom: 40px;
    border-radius: 30px;
}

.star.selected {
    color: rgb(164, 255, 17);
}

#submit-btn {
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    margin-top: 80px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(158, 121, 121);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.462);
}

#submit-btn:hover {
    background-color: rgb(122, 108, 108);
}

@media (max-width: 1000px) {
    #rating {
        font-size: 30px;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 100px;
        padding-left: 100px ;
        padding-bottom: 100px;
        margin-top: 200px;
    }
    #title-box {
    font-size: 50px;
    }
    .star {
    color: rgb(209, 197, 197);
    transition: color 0.22s;
    font-size: 90px;
    display: flex;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    }
    #submit-btn {
    margin-top: 150px;
    padding: 30px 30px;
    font-size: 30px;
    }
    #title {
        font-size: 50px;
    }
    #sub-title {
        font-size: 35px;
    }
}